## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np
#Import Sys to grab config
import sys
# Import API key
sys.path.insert(1, '..')
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Marsh Harbour,BS,79.83,clear sky,26.5412,-77.0636,Abaco Beach Resort
1,2,Namatanai,PG,80.28,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
2,5,Kavieng,PG,83.25,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
3,9,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,13,Rikitea,PF,76.48,light rain,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Fountain Hills')]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Winslow')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Saint George')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Twentynine Palms')]

In [6]:
#displaying vacation_end df to see if it worked
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
192,641,Fountain Hills,US,86.74,clear sky,33.6117,-111.7174,Fountain Park Hotel

In [8]:
# testing out to numpy function to figure out how to grab elements
list_test = vacation_start.to_numpy()

list_test[0]

array([641, 'Fountain Hills', 'US', 86.74, 'clear sky', 33.6117,
       -111.7174, 'Fountain Park Hotel'], dtype=object)

In [9]:
#created test tuple to figure out syntax

var = list_test[0,5],list_test[0,6]
type(var)

tuple

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#converting dataframes to arrays

start_array = vacation_start.to_numpy()
end_array = start_array
stop1_array = vacation_stop1.to_numpy()
stop2_array = vacation_stop2.to_numpy()
stop3_array = vacation_stop3.to_numpy()

#creating tuple with latitude and longitude values of each array

start = start_array[0,5],start_array[0,6]
end = start
stop1 = stop1_array[0,5],stop1_array[0,6]
stop2 = stop2_array[0,5],stop2_array[0,6]
stop3 = stop3_array[0,5],stop3_array[0,6]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start2phoenix = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(start2phoenix)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,641,Fountain Hills,US,86.74,clear sky,33.6117,-111.7174,Fountain Park Hotel
1,341,Winslow,US,75.38,clear sky,35.0242,-110.6974,Best Western Plus Winslow Inn
2,26,Saint George,US,77.79,few clouds,37.1041,-113.5841,Best Western Plus Abbey Inn
3,177,Twentynine Palms,US,76.86,scattered clouds,34.1356,-116.0542,Holiday Inn Express & Suites Twentynine Palms-...

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>HotelName</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))